.main-aktuelles {
  margin-top: -1px;

  min-height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(14, 14, 14);
}
.aktuelles-header {
  font-size: 40px;
  padding: 0 3%;
  text-align: center;
}
