// what todo
// fix correct font colour onclick
// fix line-height of "Teamplayers"

.ensemble-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background: #0e0e0e;
  margin-top: -1px;
  padding-top: 5vh;
}

// .ensemble-header {
// width: 100%;
.ensemble-header-text {
  // width: 100vw;
  max-width: 1100px;
  // height: 600px;
  min-height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  h1 {
    font-size: 72px;
    // font-size: calc(2.5rem + 2vw);
    letter-spacing: 2px;
    font-family: "Dancing Script", cursive;
    color: $primal-color;
  }

  // h2 {
  //   font-size: 18px;
  //   // font-size: calc(1.1rem + 0.5vw);
  //   color: white;
  // }
}
.ensemble-hero {
  width: 100vw;
  // max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  // margin: auto;
  // margin-top: 10vh;

  img {
    position: fixed;
    top: 50vh;
    width: 100%;
    min-width: 500px;
    max-width: 800px;
    // z-index: 0;
    opacity: 0.6;
  }

  // img {
  //   max-width: 1000px;
  //   border-radius: 2ch;
  //   margin: auto;
  //   width: 100%;
  //   object-fit: cover;
  //   pointer-events: none;
  //   // display: none;
  // }
}
// }

// .cards-intro-text {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 100vw;
//   height: 50vh;
//   background: white;
//   position: relative;
//   background: linear-gradient(rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.1) 50%),
//     url("../images/tanzremise-bodys.png");
//   background-size: contain;
//   background-position-y: 80%;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   h2 {
//     font-size: $header1c;
//     font-weight: 900;
//     color: white;
//     text-align: center;
//   }
//   // .stripe-black {
//   //   width: 400px;
//   //   height: 100px;
//   //   background: #0e0e0e;
//   //   position: absolute;
//   //   bottom: 0;
//   //   right: -250px;
//   //   transform: rotate(-45deg);
//   // }
// }

// .cards {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-items: center;
//   // background: rgb(34, 34, 34);
//   width: 100vw;
//   // min-height: 500px;
//   margin-top: auto;
//   padding: 20px 0;
// }
// // Card 1 STARTS

// .card {
//   // display: none;
//   // width: 180px;
//   // height: 300px;
//   width: 140px;
//   height: 160px;
//   perspective: 1000px;
//   transition: all 0.5s ease;
//   z-index: 1;
//   margin: 5px;
//   // padding: 2px;

//   .card-rotate {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//     transition: all 0.8s ease;
//     transform-style: preserve-3d;

//     .turn-card {
//       font-weight: bolder;
//       letter-spacing: 2px;
//       width: 100%;
//       // background: rgb(45, 132, 158);
//       background: rgb(202, 52, 52);
//       text-shadow: 0px 0px 1px black;
//       color: white;
//       // color: black;
//       padding: 5px 0;
//       border: none;
//       border-bottom-left-radius: 1ch;
//       border-bottom-right-radius: 1ch;
//       &:hover {
//         background: rgb(235, 39, 39);
//       }
//     }
//     // PROFILE CARD FRONTSIDE START
//     .profile-card-front {
//       border-radius: 2ch;
//       overflow: hidden;
//       border: 1px solid black;
//       position: absolute;
//       height: 100%;
//       width: 100%;
//       color: black;
//       background-color: white;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       align-items: center;
//       text-align: center;
//       backface-visibility: hidden;

//       .open-card {
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         max-height: 160px;
//         .open-btn {
//           width: 100%;
//           height: 22px;
//           border: none;
//           letter-spacing: 2px;
//           font-weight: bolder;
//           background: rgb(45, 132, 158);
//           color: white;
//           &:hover {
//             background: rgb(58, 167, 201);
//           }
//         }
//       }

//       h3 {
//         font-size: 1.2rem;
//       }

//       .profile-img {
//         width: 100%;
//         padding: 12px;
//         margin: 22px 0;

//         background: linear-gradient(
//             rgba(255, 255, 255, 0) 40%,
//             rgb(255, 255, 255),
//             rgb(255, 255, 255)
//           ),
//           url("../images/bluesky.jpg");
//         background-size: cover;

//         h2 {
//           font-size: 16px;
//         }

//         h3 {
//           font-size: 14px;
//           font-weight: lighter;
//           font-family: "montserrat", sans-serif;
//         }

//         img {
//           width: 70px;
//           height: 70px;
//           object-fit: cover;
//           border-radius: 50%;
//           border: 4px solid white;
//         }
//       }

//       .profile-info {
//         display: flex;
//         justify-content: space-evenly;
//         max-width: 85%;
//         // border: 2px solid green;

//         .profile-headers {
//           text-align: start;

//           h3 {
//             font-size: 1.2rem;
//             font-weight: normal;
//             padding: 4px 0;
//           }
//         }

//         .profile-paragraph {
//           // border: 1px solid red;
//           h3 {
//             font-weight: lighter;
//             padding: 4px 0;
//           }
//         }
//       }

//       // .stars {
//       //   border-top: 1px solid rgba(49, 49, 49, 0.2);
//       //   width: 60%;
//       //   padding: 5px 0 10px 0;

//       //   span {
//       //     font-size: 1.2rem;
//       //   }
//       // }
//     }
//     // PROFILE CARD FRONTSIDE ENDS
//     // PROFILE CARD BACKSIDE START
//     .profile-card-back {
//       position: absolute;
//       border-radius: 2ch;
//       border: 1px solid black;
//       height: 100%;
//       width: 100%;
//       background-color: white;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-between;
//       // padding: 0 0 3rem 0;
//       align-items: center;
//       text-align: center;
//       transition: all 0.3s ease-in;
//       transform: rotateY(180deg);
//       backface-visibility: hidden;

//       .profile-background {
//         border-top-left-radius: 2ch;
//         border-top-right-radius: 2ch;
//         width: 100%;
//         height: 10px;
//         overflow: hidden;
//       }

//       .profile-headers-back {
//         display: flex;
//         flex-direction: column;
//         justify-content: flex-end;
//         padding: 15% 5px;
//         z-index: 10;
//         background: linear-gradient(
//           rgba(255, 255, 255, 0) 10%,
//           rgb(255, 255, 255),
//           rgb(255, 255, 255),
//           white,
//           white,
//           white
//         );
//         height: 320px;

//         .backside-text-wrapper {
//           height: 160px;
//           // width: 100%;
//           // opacity: 0;
//           // transform: translateX(20%);
//           // transition: transform 2s ease;
//           // position: absolute;
//           // bottom: 0;
//           // left: 0;
//           // overflow-x: scroll;
//           h3 {
//             color: black;
//             font-size: 16px;
//             font-weight: normal;
//             font-family: "roboto", sans-serif;
//           }
//           p {
//             color: black;
//             font-family: "montserrat", sans-serif;
//             font-size: 14px;
//             font-weight: lighter;
//             padding: 5px 0;
//           }
//         }
//       }
//     }
//   }
// }

.new-section {
  min-height: 70vh;
  width: 100vw;
  overflow: hidden;
  background: #0e0e0e;
  // padding: 5vh 0;
  position: relative;
}

.cards-header {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 25vh 3% 15vh;
  max-width: 800px;
  margin: auto;
  position: relative;
  text-align: center;

  h2 {
    // text-align: center;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  p {
    font-size: 16px;
    color: rgb(198, 198, 198);
  }

  img {
    min-width: 500px;
    max-width: 600px;
    position: absolute;
    bottom: 20vh;
    left: 20vw;
    opacity: 0.1;
    transform: rotate(218deg) rotateX(0deg);
  }
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1150px;
}

// .background-squares {
//   position: absolute;
//   top: 0;
//   object-fit: contain;
//   width: 100%;
//   height: 20%;
//   pointer-events: none;
//   opacity: 0.2;
// }

.new-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 300px;
  border-radius: 2ch;
  // margin: 5vh 0vw;
  padding: 6rem 3rem;
  background: linear-gradient(to right, rgb(12, 12, 12), rgb(14, 14, 14));
  transition: all 0.3s ease;
}

// .new-card:first-child {
//   padding: 12rem 3rem 6rem 3rem;
// }

.new-profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  img {
    width: 200px;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
  }
}
.new-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  transition: all 0.3s ease;
  position: relative;

  .new-text-header {
    text-align: center;
    .text-titel {
      font-family: "dancing script", cursive;
      font-weight: 100;
      font-size: 30px;
      color: $primal-color;
    }
    .text-name {
      font-size: 20px;
      font-weight: 400;
    }
    .text-alias {
      padding-bottom: 5px;
      font-weight: 400;
      color: rgb(213, 213, 213);
    }
  }
  .new-text-content {
    padding: 8px 0;
    border-top: 1px solid rgb(43, 43, 43);
    transition: all 1s ease;
    h4 {
      font-size: 14px;
      font-weight: 400;
      color: rgb(232, 232, 232);
      // padding: 0 5%;
    }

    .extra-text {
      transition: all 0.3s ease;
    }

    .more-text {
      font-size: 0px;
      opacity: 0;
      transition: all 0.5s ease-out;
    }
    .about {
      display: block;
      font-size: 14px;
      padding: 2px 0;
    }
  }
  p {
    padding: 5px 0;
  }
  .new-button {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    // background: $primal-color2;
    background: none;
    color: $primal-color;
    border: 2px solid $primal-color2;
    border-radius: 5px;
    margin: auto;
    width: 100%;
    padding: 2px 0;
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover {
      color: rgb(222, 57, 57);
      border-color: #ac2136;
      transition: all 0.3s ease;
    }
  }
}

// Javascript
.new-card-active {
  max-height: 1000px;
  transition: all 0.3s ease;
}

.new-text-content-active {
  padding-top: 2px;
  position: relative;
  transition: all 0.3s ease;
}

.more-text-active {
  color: white;
  font-size: 14px !important;
  opacity: 1 !important;
  transition: all 0.3s ease;
}

.extra-text-active {
  font-size: 0px;
  opacity: 0;
  transition: all 0.3s ease;
}

// .rotate-active-two {
//   transform: rotateY(180deg);
//   transition: all 0.5s ease;
// }

// .class2 {
//   border-top-left-radius: 2ch;
//   border-top-right-radius: 2ch;
//   width: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

// .backside-text-wrapper-active {
//   overflow-y: scroll;
//   animation: animate 1s linear;
//   animation-fill-mode: forwards;
// }

// .card-active {
//   width: 160px;
//   height: 300px;
// }

// .open-card-deactive {
//   pointer-events: none;
// }

// @keyframes animate {
//   0% {
//     opacity: 0;
//     transform: translateX(5%);
//   }
//   100% {
//     transform: translateX(0%);
//     opacity: 1;
//   }
// }

// @media screen and (min-width: 700px) {
//   .new-section {
//     // margin: 5vh 0;

//     .new-card {
//       // flex-direction: row;
//       // max-height: 190px;
//       max-width: 400px;
//       // border-radius: 2ch;
//     }

//     // .new-profile {
//     //   min-width: 120px;
//     //   max-width: 120px;

//     //   img {
//     //     min-height: 190px;
//     //     max-height: 200px;
//     //     width: 100%;
//     //   }
//     // }
//   }
// }

@media screen and (min-width: 400px) {
  .stripe-red {
    background: $primal-color2;
    width: 100vw;
    height: 30vh;
    position: absolute;
    transform: rotate(-15deg);
    pointer-events: none;
  }
  #red-two {
    bottom: -200px;
    right: -50vw;
  }
}
@media screen and (min-width: 450px) {
  .ensemble-header-text {
    h1 {
      font-size: calc(8rem + 2vw) !important;
    }
  }
  .cards-wrapper {
    h2 {
      font-size: calc(1rem + 0.5vw) !important;
    }
  }
}
@media screen and (min-width: 1400px) {
  .ensemble-header-text {
    h1 {
      font-size: 128px !important;
    }
  }
  .cards-wrapper {
    h2 {
      font-size: 20px !important;
    }
  }
}
