html {
  scroll-behavior: smooth;
}

.gallery-nav {
  background: none;
  z-index: 100;
}

.hero-gallery {
  display: flex;
  justify-content: center;
  min-height: 85vh;
  background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0),
      rgba(16, 14, 117, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/gallerypage/_MG_9384ejpgk.jpg") center / cover no-repeat;
  h2 {
    font-size: calc(5rem + 3vw);
    font-family: "Dancing Script", cursive;
    text-align: center;
    min-height: 40vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    color: $primal-color;
    #foto-gallery {
      font-size: calc(2rem + 3vw);
      color: white;
    }
  }
}

// Lazy-nav STARTS

.scroll-overflow {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: rgb(14, 14, 14);
  padding-top: 25px;
  z-index: 2;
}

.dropdown {
  min-height: 10vh;
  width: 90vw;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: 2vh 0 10vh;
}

.dropdown-wrapper {
  margin: 10px 0;
  padding: 5px;
  border: 2px solid transparent;
  border-left: 2px solid rgb(190, 190, 190);
  border-right: 2px solid rgb(190, 190, 190);
  min-width: 150px;
  position: relative;
  transition: all 0.3s ease;
  &:hover {
    border-color: $gallery-blue;
  }

  .header-hover {
    font-family: "montserrat", sans-serif;
    font-size: $link;
    transition: all 0.2s ease;
    padding: 10px 50px;
    letter-spacing: 3px;
    position: relative;
    &:hover {
      cursor: pointer;
      color: $gallery-blue;
    }
  }

  .dropdown-content {
    margin-top: 7px;
    display: flex;
    opacity: 0;
    width: 0;
    position: absolute;
    left: 50%;
    top: 29px;
    transform: translate(-50%);
    flex-direction: column;
    min-width: 250px;
    border-radius: 5px;
    background: rgb(14, 14, 14);
    z-index: 1;
    transition: all 0.3s ease;

    a {
      color: white;
      text-decoration: none;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.125);
      letter-spacing: 1px;
      font-size: 0;
      transition: all 0.2s ease;
      &:hover {
        color: $gallery-blue;
      }
    }
  }
}

// Lazy-nav ENDS

.lazyload-wrapper {
  display: grid;
  max-width: 1000px;
  background: rgb(235, 235, 235);
  z-index: 10001;

  .lazy-images-wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 14, 14);
    width: 100vw;
    margin: auto;

    .lazy-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 25vh;
    }

    .year-shows {
      font-family: "montserrat", sans-serif;
      // padding: 15px 0 10px 0;
      padding: 20px 0;
      color: #040b12;
      background: white;
      font-size: $header3;
      letter-spacing: 10px;
      font-weight: normal;
      text-align: center;
    }

    p {
      font-family: "montserrat", sans-serif;
      display: inline;
      background: #040b12;
      color: white;
      font-size: $paragraph;
      letter-spacing: 5px;
      text-align: center;
      padding: 30px 0;
    }

    .lazy-images {
      display: grid;
      gap: 30px;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      min-height: 10vh;
      margin: 0 30px 5vh;
      img {
        background: #0000002b;
        min-width: 200px;
        min-height: 100px;
        // width: calc(200px + 6vw);
        width: 100%;
        // max-height: 130px;
        object-fit: cover;
      }
    }
  }
}

.images-dynamically {
  width: 100vw;
  min-height: 20vh;
  border: 2px solid red;
  color: black;
}

// Add Javascript
.dynamic-images-active {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.header-hover-active {
  border-radius: 20px 20px 0px 0px !important;
  border-color: $gallery-blue !important;
  color: $gallery-blue;
}

.dropdown-content-active {
  opacity: 1 !important;
  margin: 0 0 0 -2px !important;
  border: 2px solid $gallery-blue !important;
}

.dropdown-wrapper-active {
  border: 2px solid $gallery-blue;
  transition: all 0.3s ease;
}

.a-links-active {
  font-size: $link !important;
  padding: 10px;
  transition: all 0.2s ease;
  color: #f4f6ff !important;
  &:hover {
    background: #0d253d;
  }
}

.lazy-nav-active {
  flex-wrap: wrap;
}
.arrow-right-active {
  transform: rotateZ(90deg);
  transition: all 0.5s ease;
}
.lazy-image-active {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 60vh !important;
  width: 90% !important;
  display: block;
  transform: translate(-50%, -50%);
  object-fit: contain !important;
  z-index: 2001;
  background: transparent !important;
}
.lazyload-wrapper-active {
  z-index: 2000;
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
}

.close-image {
  font-size: 16px;
  font-weight: 900;
  padding: 7px;
  position: absolute;
  border-radius: 2ch;
  border: none;
  background-color: transparent;
  color: white;
  top: 5vh;
  right: 5vw;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  .scroll-overflow {
    .dropdown {
      .dropdown-wrapper {
        #header-hover-wide {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    h2 {
      margin-top: 10vh !important;
      font-size: 110px !important;
    }
  }
}
