html {
  scroll-behavior: smooth;
}

.gallery-nav {
  background: none;
  z-index: 100;
}

.hero-gallery {
  display: flex;
  justify-content: center;
  // align-items: center;
  min-height: 85vh;
  background: 
  // linear-gradient(-45deg, #941c2e75, rgba(0, 0, 0, 0.541)),
    linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0),
      rgba(16, 14, 117, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url("../images/gallerypage/_MG_9384ejpgk.jpg") center / cover no-repeat;
  // position: static;
  // top: 0;
  h2 {
    font-size: calc(5rem + 3vw);
    font-family: "Dancing Script", cursive;
    text-align: center;
    min-height: 40vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    color: $primal-color;
    #foto-gallery {
      font-size: calc(2rem + 3vw);
      color: white;
    }
  }
}

// .hero-content {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   min-height: 50vh;

// .hero-header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100%;

// h2 {
//   font-size: calc(2.5rem + 6vw);
//   letter-spacing: 2px;
//   font-family: "Dancing Script", cursive;
// }
// .hero-img {
//   width: 100vw;
//   background: rgba(255, 255, 255, 0.1);
//   text-align: center;
//   padding: 2vh 0;
//   img {
//     width: 50%;
//   }
// }
// }
// }

// Lazy-nav STARTS

.scroll-overflow {
  display: flex;
  justify-content: center;
  width: 100vw;
  // background: linear-gradient(rgb(1, 2, 5), #140c44, rgb(14, 14, 14) 100%);
  background: rgb(14, 14, 14);
  padding-top: 25px;
  z-index: 2;
}

.dropdown {
  min-height: 10vh;
  width: 90vw;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  // grid-template-columns: repeat(auto-fit, 110px);
  grid-template-columns: repeat(auto-fit, 1fr);
  padding: 2vh 0 10vh;
}

.dropdown-wrapper {
  margin: 10px 0;
  padding: 5px;
  border: 2px solid transparent;
  border-left: 2px solid rgb(190, 190, 190);
  border-right: 2px solid rgb(190, 190, 190);
  min-width: 150px;
  position: relative;
  transition: all 0.3s ease;
  &:hover {
    border-color: $gallery-blue;
  }

  .header-hover {
    font-family: "montserrat", sans-serif;
    font-size: $link;
    // min-width: 100px;
    // width: 100%;
    // margin: 0px 5px 0 0;
    transition: all 0.2s ease;
    // border: 2px solid rgba(255, 255, 255, 0.336);
    padding: 10px 50px;
    // border-radius: 20px;
    letter-spacing: 3px;
    // z-index: 3;
    position: relative;
    &:hover {
      cursor: pointer;
      color: $gallery-blue;
    }
  }

  .dropdown-content {
    margin-top: 7px;
    display: flex;
    opacity: 0;
    width: 0;
    position: absolute;
    left: 50%;
    top: 29px;
    transform: translate(-50%);
    flex-direction: column;
    min-width: 250px;
    border-radius: 5px;
    background: rgb(14, 14, 14);
    z-index: 1;
    transition: all 0.3s ease;

    a {
      color: white;
      text-decoration: none;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.125);
      // padding-left: 10px;
      letter-spacing: 1px;
      // text-align: center;
      // font-family: "Montserrat", sans-serif;
      // font-family: "Dancing Script", cursive;
      font-size: 0;
      transition: all 0.2s ease;
      &:hover {
        color: $gallery-blue;
      }
    }
  }
}

// Is commented out HTML
// .arrow-menu {
//   display: flex;
//   cursor: pointer;
//   background-color: $primal-color;
//   &:hover {
//     background-color: rgb(179, 43, 43);
//   }

//   .open-close {
//     display: flex;
//     align-items: center;
//     // font-size: 16px;
//     margin: 8px 5px 8px auto;
//     color: white;
//     text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black,
//       1px -1px 1px black;
//     letter-spacing: 2px;
//     pointer-events: none;
//   }
// }

// .lazy-nav {
//   display: flex;
//   overflow: scroll;
//   margin: auto;

//   li {
//     list-style: none;
//     padding: 10px 0;
//     border: 1px solid rgb(255, 255, 255);
//     min-width: 140px;
//     width: 50%;
//     text-align: center;

//     a {
//       color: rgb(255, 245, 243);
//       font-size: 18px;
//       line-height: 25px;
//     }
//     span {
//       a {
//         color: rgb(192, 191, 191);
//         font-size: 16px;
//         text-decoration: none;
//       }
//       #das-biest {
//         line-height: 15px;
//       }
//     }
//   }
// }

// Lazy-nav ENDS

.lazyload-wrapper {
  display: grid;
  max-width: 1000px;
  background: rgb(235, 235, 235);

  .lazy-images-wrapper {
    display: flex;
    flex-direction: column;
    // background-color: #040b12;
    background-color: rgb(14, 14, 14);
    width: 100vw;
    margin: auto;

    .lazy-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 25vh;
    }

    .year-shows {
      // margin-top: 13px;
      font-family: "montserrat", sans-serif;
      padding: 15px 0 10px 0;
      color: #040b12;
      background: white;
      font-size: $header3;
      letter-spacing: 10px;
      font-weight: normal;
      text-align: center;
    }

    p {
      font-family: "montserrat", sans-serif;
      display: inline;
      background: #040b12;
      color: white;
      font-size: $paragraph;
      // font-weight: bolder;
      letter-spacing: 5px;
      text-align: center;
      padding: 15px 0;
    }

    .images-wrapper {
      max-width: 1100px;
      margin: auto;
    }
    .lazy-images {
      background: #060e17;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      min-height: 10vh;
      padding: 0 0.5vw;
      margin-bottom: 5vh;
      img {
        background: #f1f1fa42;
        min-width: 80px;
        min-height: 100px;
        width: calc(80px + 6vw);
        max-height: 130px;
        object-fit: cover;
      }
    }
  }
}

.images-dynamically {
  width: 100vw;
  min-height: 20vh;
  border: 2px solid red;
  color: black;
}

// Add Javascript
.dynamic-images-active {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.header-hover-active {
  border-radius: 20px 20px 0px 0px !important;
  border-color: $gallery-blue !important;
  // padding-bottom: 10px !important;
  // border-bottom: none !important;
  // background-color: rgba(182, 182, 253, 0.159);
  // background-color: #01455c9c;
  color: $gallery-blue;
}

.dropdown-content-active {
  opacity: 1 !important;
  // transition: all 0.2s ease;
  margin: 0 0 0 -2px !important;
  // padding: 1vh;
  border: 2px solid $gallery-blue !important;
  // border-left: 2px solid white !important;
  // border-right: 2px solid white !important;
  // transform: translate(50%);
}

.dropdown-wrapper-active {
  border: 2px solid $gallery-blue;
  transition: all 0.3s ease;
}

.a-links-active {
  font-size: $link !important;
  padding: 10px;
  transition: all 0.2s ease;
  color: #f4f6ff !important;
  &:hover {
    background: #0d253d;
  }
}

.lazy-nav-active {
  flex-wrap: wrap;
}
.arrow-right-active {
  transform: rotateZ(90deg);
  transition: all 0.5s ease;
}
.lazy-image-active {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 60vh !important;
  width: 90% !important;
  display: block;
  transform: translate(-50%, -50%);
  object-fit: contain !important;
  z-index: 2001;
  background: transparent !important;
}
.lazyload-wrapper-active {
  z-index: 2000;
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.863);
  border: 5px solid rgb(66, 66, 66);
}

.close-image {
  font-size: 15px;
  font-weight: 900;
  padding: 7px;
  position: absolute;
  border-radius: 2ch;
  border: none;
  background-color: rgb(231, 17, 17);
  color: white;
  text-shadow: 1px 1px 4px black;
  top: 20px;
  right: 10px;
}

// @ Media queries
// @media screen and (min-width: 360px) {
//   .lazy-nav,
//   .scroll-overflow {
//     width: 90vw;
//   }
//   .lazyload-wrapper {
//     width: 90vw;
//     .lazy-images {
//       img {
//         // height: 800px;
//         // width: 1000px;
//       }
//     }
//   }
// }
// @media screen and (min-width: 580px) {
//   .lazy-nav,
//   .scroll-overflow {
//     width: 70vw;
//   }
//   .lazyload-wrapper {
//     width: 70vw;
//     .lazy-images-wrapper {
//       .lazy-images {
//         img {
//           height: 220px;
//           width: 400px;
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 900px) {
//   .lazyload-wrapper {
//     .lazy-images-wrapper {
//       flex-direction: column;
//       .lazy-images {
//         grid-template-columns: 1fr 1fr;
//         img {
//           // max-height: 550px;
//           max-width: 800px;
//         }
//       }
//     }
//   }
// }
// @media screen and (min-width: 1100px) {
//   .lazyload-wrapper {
//     .lazy-images-wrapper {
//       .lazy-images {
//         grid-template-columns: 1fr 1fr 1fr;
//       }
//     }
//   }
// }

@media screen and (min-width: 600px) {
  // .hero-content {
  //   align-items: flex-start !important;
  //   .hero-header {
  //     margin-left: 10vw;
  //     h2 {
  //       margin-top: 12vh !important;
  //     }
  //   }
  // }

  .scroll-overflow {
    .dropdown {
      .dropdown-wrapper {
        #header-hover-wide {
          font-size: 16px;
        }
      }
    }
  }
}
// @media screen and (min-width: 800px) {
//   .lazyload-wrapper {
//     .lazy-images-wrapper {
//       h3 {
//         font-size: 36px;
//       }
//       p {
//         font-size: 24px;
//       }
//     }
//   }
// }

@media screen and (min-width: 1200px) {
  .hero-content {
    // margin-left: 10vw !important;
    h2 {
      margin-top: 10vh !important;
      font-size: 110px !important;
    }
  }
}
