.body-intro {
  background: rgb(14, 14, 14);
  position: relative;
  padding-top: 7vh;
}

// section 1
.header-text-container {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.header-text {
  margin: 8vh 0 8vh 3%;
  h1 {
    font-family: "Monoton", cursive;
    font-size: calc(2.5rem + 2.5vw);
    font-weight: 400;
    span {
      color: $primal-color;
      text-transform: uppercase;
    }
  }
  h2 {
    font-family: "montserrat", sans-serif;
    font-size: calc(1.5rem + 1vw);
    font-weight: 200;
    margin-top: -4%;
  }
  .to-show-btn {
    margin-top: 5%;
    a {
      background: $primal-color;
      border: none;
      border-radius: 2ch;
      color: white;
      font-size: calc(1rem + 0.5vw);
      text-decoration: none;
      padding: 10px 25px;
      margin-top: 150px;
      transition: all 0.3s ease;
      &:hover {
        background: rgb(228, 58, 58);
        transition: all 0.3s ease;
      }
    }
  }
}

.header-show-container {
  .header-show {
    img {
      max-width: 380px;
      width: 70vw;
    }
  }
}

// Header between Section 1 and Section 2
.second-header {
  // this is for the line through the page
  // position: relative;
  max-width: 1300px;
  margin: auto;
  text-align: center;
  h2 {
    font-family: "dancing script", cursive;
    font-size: calc(2.3rem + 2.5vw);
    margin: 100px 0 0 0;
    padding: 0 10px 0 5px;
    background: rgb(14, 14, 14);
    z-index: 2;
    text-align: center;
    span {
      color: $primal-color;
      text-transform: capitalize;
    }
  }

  p {
    font-size: calc(1rem + 0.5vw);
    max-width: 800px;
    margin: 0 auto 17vh;
    padding: 0 3%;
    color: rgb(220, 220, 220);
  }

  .second-header-line {
    position: absolute;
    top: 54%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100vw;
    background-color: white;
    height: 1px;
  }
}
// section 2
.previous-shows-container {
  display: grid;
  width: 100vw;
  max-width: 1300px;
  margin: auto;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0 3%;
  // position: relative;
}

.previous-show-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 5vh 0;

  .header-show {
    // max-width: 400px;
    // margin: auto;
    h4 {
      font-size: calc(1rem + 0.5vw);
      font-weight: 400;
      text-align: center;
      padding: 10px 0;
      color: rgb(220, 220, 220);
    }
  }
  .previous-img {
    img {
      // height: 100%;
      // min-height: calc(1rem + 0.5vw);
      width: 100%;
      max-height: calc(15.7rem + 0.5vw);
      object-fit: cover;
      // transition: all 0.2s ease;
      // &:hover {
      //   // position: absolute;
      //   // top: 50%;
      //   // left: 50%;
      //   // transform: translate(-50%, -50%);
      //   object-fit: contain;
      //   min-height: 70vh;
      //   min-width: 98.5vw;
      //   z-index: 200;
      // }
    }
  }
}

// section 3
.coming-shows-container {
  border-top: 1px solid white;
  // border-bottom: 1px solid white;
  margin: 25vh 0;
  h2 {
    // display: inline-block;
    position: absolute;
    font-family: "dancing script", cursive;
    font-size: $header1b;
    transform: translateY(-64%);
    background: rgb(14, 14, 14);
    margin-left: 3%;
    padding: 0 5px;
    span {
      color: $primal-color;
      text-transform: capitalize;
    }
  }
  .coming-show-container {
    margin: 15vh auto;
    width: 100vw;
    h3 {
      font-family: "dancing script", cursive;
      font-size: $header1c;
      text-align: center;
      padding: 10px;
    }
  }
}

.coming-show {
  border: 1px solid rgba(255, 255, 255, 0);
  position: relative;
  max-width: 600px;
  margin: auto;

  #coming-alle-jahre-hero,
  #coming-imhotep-hero {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    margin: auto;
  }

  #coming-alle-jahre-hero {
    background: linear-gradient(rgba(14, 14, 14, 0.4) rgba(14, 14, 14, 0.4)),
      url("../images/landingpage/alle-jahre-wieder.jpg") 0% 40% / cover
        no-repeat;
  }
  #coming-imhotep-hero {
    background: linear-gradient(rgba(14, 14, 14, 0.4) rgba(14, 14, 14, 0.4)),
      url("../images/landingpage/imhotep-coming.JPG") 0% 84% / cover no-repeat;
  }
  .coming-hero {
    width: 100%;
    height: 25vh;
  }
}

.coming-show-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 15vh;
  .coming-image {
    width: 80vw;
    max-width: 200px;
    margin: auto;

    #alle-jahre-wider-img,
    #imhotep-img {
      padding: 50% 0;
      box-shadow: 5px -5px 5px rgba(14, 14, 14, 0.2),
        0 0 10px rgba(14, 14, 14, 0.2), -5px -5px 5px rgba(14, 14, 14, 0.2);
    }
    #alle-jahre-wider-img {
      background: url("../images/landingpage/alle-jahre-wieder.jpg")
        center/cover no-repeat;
    }
    #imhotep-img {
      background: url("../images/landingpage/imhotep-coming.jpg") center/cover
        no-repeat;
    }
    .buy-ticket {
      display: none;
      width: 100%;
      padding: 5px 10px;
      border: none;
      background: $primal-color;
      color: white;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }

  .coming-info {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    a {
      padding-top: 5px;
      color: white;
      font-size: $paragraph;
    }
    .coming-dates {
      padding: 20px 0;
      p {
        font-size: $paragraph;
      }
    }
    .coming-bottom {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding-bottom: 5px;
      h4 {
        font-size: $paragraph;
        font-weight: 400;
      }
      .coming-time {
        font-weight: 600;
      }
    }
    // .ticket-mobile {
    //   width: 100%;
    //   padding: 10px 10px;
    //   border: none;
    //   background: $primal-color2;
    //   color: white;
    //   font-weight: 600;
    //   font-size: $paragraph;
    //   letter-spacing: 2px;
    //   transition: all 0.3s ease;
    //   &:hover {
    //     background: #ac2237;
    //     border-radius: 2ch;
    //     letter-spacing: 1.5px;
    //     transition: all 0.3s ease;
    //   }
    // }
    .ticket-mobile {
      // width: 100%;
      // width: 80vw;
      // max-width: 400px;
      margin: 0 auto;
      padding: 10px 30px;
      border: 3px solid rgb(255, 67, 67);
      border-radius: 1ch;
      background: none;
      color: rgb(255, 67, 67);
      font-weight: bold;
      font-size: $paragraph;
      letter-spacing: 2px;
      transition: all 0.3s ease;
      &:hover {
        background: $primal-color2;
        border-color: transparent;
        color: rgb(205, 205, 205);
        letter-spacing: 1.8px;
        transition: all 0.3s ease;
      }
    }
  }
}

// Footer
// .footer-links {
//   height: 90vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // z-index: 100;
//   // background: rgb(14, 14, 14);
//   border-top: 7px solid black;
//   // box-shadow: 0 -5px 5px rgba(9, 9, 9, 0.358);
// }
// .footer-links-header {
//   h3 {
//     text-align: center;
//     // padding: 5vh 3%;
//     font-size: calc(2.5rem + 2vw);
//     margin-bottom: 5vh;
//     span {
//       color: $primal-color;
//     }
//   }
// }

// .footer-link {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   // padding-bottom: 10vh;
//   .kontakt-bottom-btn {
//     border: none;
//     margin: 2vh 0;
//     a {
//       padding: 5px 25px;
//       display: block;
//       text-decoration: none;
//       font-size: calc(1.5rem + 0.1vw);
//       color: white;
//       width: 100%;
//       text-align: center;
//       border: 2px solid rgba(14, 14, 14, 0);
//       border-radius: 0.5ch;
//       transition: all 0.3s ease;

//       &:hover {
//         border: 2px solid rgb(255, 255, 255);
//         border-radius: 2ch;
//         transition: all 0.5s ease;
//       }
//     }
//   }
// }

// Add javascript

@media screen and(min-width: 450px) {
  .header-text-container {
    width: 100vw;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-show-container {
    .header-show {
      max-width: calc(500px + 1.5vw);
      h4 {
        text-align: center;
      }
    }
  }
}

// here
// @media screen and(min-width: 445px) {
//   .previous-shows-container {
//     grid-template-columns: 1fr 1fr;
//     .previous-show-container {
//       margin: 0 0 3vh 0;
//     }

//     .previous-img {
//       img {
//         height: 160px;
//       }
//     }
//   }
// }
@media screen and(min-width: 650px) {
  // here
  // .previous-shows-container {
  //   grid-template-columns: 1fr 1fr 1fr;
  //   .previous-show-container {
  //     margin: 0 0 5vh 0;
  //   }
  //   .previous-img {
  //     img {
  //       height: 180px;
  //     }
  //   }
  // }
  .header-text-container {
    margin-top: 3vh;
  }
}

// here
// @media screen and(min-width: 900px) {
//   .previous-shows-container {
//     grid-template-columns: 1fr 1fr 1fr 1fr;

//     .previous-img {
//       img {
//         height: 190px;
//       }
//     }
//   }
// }

// here
// @media screen and(min-width: 1300px) {
//   .previous-shows-container {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//     .previous-img {
//       img {
//         height: 200px;
//       }
//     }
//   }
// }

@media screen and(min-width: 1000px) {
  .header-text-container {
    margin-left: auto;
    margin-right: auto;

    .header-text {
      margin: 0;
    }
  }

  // here
  // .previous-shows-container {
  //   margin: auto;
  //   max-width: 1300px;
  // }
}

// here
// @media screen and(min-width: 1500px) {
//   .coming-shows-container {
//     display: grid;
//     grid-template-columns: 1fr 1fr;

//     .coming-show-container {
//       width: 50vw;
//     }
//   }
// }
