.body-intro {
  background: rgb(14, 14, 14);
  position: relative;
  padding-top: 7vh;
  .header-background-container {
    min-width: 120vw;
    min-height: 33vw;
    background: $primal-color2;
    position: absolute;
    top: -25vw;
    right: -33vw;
    transform: rotate(45deg);
    z-index: -1;
  }
}

// section 1
.header-text-container {
  // height: 90vh;
  // margin: 5vh 0;
  min-height: 80vh;
  width: 100vw;
  max-width: 1300px;
  // margin: auto;
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: space-around;
  // justify-content: center;
  align-items: center;
}

.header-text {
  max-width: 250px;
  // padding: 0 3%;
  h1 {
    font-family: "Dancing Script", cursive;
    font-size: $header1b;
    span {
      color: $primal-color;
      text-transform: uppercase;
    }
  }
  h2 {
    font-size: calc(1em + 0.5vw);
    font-weight: 400;
    color: rgb(206, 206, 206);
    max-width: 400px;
  }
}

.header-show-container {
  display: flex;
  justify-content: center;
  .header-show {
    width: 250px;

    img {
      width: 100%;
      border-radius: 2ch;
    }
    h4 {
      width: 206px;
      transform: translateX(275px) rotate(90deg);
      transform-origin: 0px 0px;
      font-weight: 400;
      text-align: center;
      font-size: calc(0.8em + 0.5vw);
    }
  }
}

// section 2
.previous-shows-container {
  min-height: 65vh;
  width: 100vw;
  display: grid;
  // flex-direction: column;
  // justify-content: space-between;
  margin: 10vh 0;
}

// .shows-row-one,
// .shows-row-two {
// display: flex;
// border: 1px solid white;
// width: 100vw;
// min-height: 50vh;
.previous-show-container {
  // min-height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;

  .header-show {
    h4 {
      font-family: "Dancing script", cursive;
      // transform: translateY(50px);
      // font-size: calc(14px + 0.2vw);
      font-size: 14px;
      letter-spacing: 3px;
      font-weight: 600;
      text-align: center;
      // margin: 5px 0;
      padding: 10px 0;
      // background: rgba(14, 14, 14, 0.824);
      color: rgb(198, 198, 198);
    }
  }
  .previous-img {
    // height: 100%;
    // border: 1px solid red;
    img {
      // height: 100%;
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
}
// }

// Footer
.footer-links {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgb(14, 14, 14);
  border-top: 7px solid black;
}
.footer-links-header {
  h3 {
    text-align: center;
    padding: 5vh 3%;
    font-size: 40px;
  }
}

.footer-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10vh;
  .kontakt-bottom-btn {
    border: none;
    margin: 2vh 0;
    a {
      padding: 5px;
      display: block;
      text-decoration: none;
      font-size: 18px;
      color: white;
      width: 100%;
      text-align: center;
    }
  }
}

// Add javascript

// media queries
@media screen and(min-width: 450px) and (max-width: 1000px) {
  .header-show-container {
    .header-show {
      width: 350px;
      margin-right: 50px;
    }
  }
}
@media screen and(min-width: 450px) {
  .header-text-container {
    width: 100vw;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .header-text {
    max-width: 500px !important;
  }

  .header-show-container {
    .header-show {
      width: 350px;
      // margin-right: 50px;
      h4 {
        width: 282px;
        transform: translateX(375px) rotate(90deg);
        transform-origin: 0px 0px;
        font-weight: 400;
        text-align: center;
        font-size: calc(0.8em + 0.5vw);
      }
    }
  }
}

@media screen and(min-width: 445px) {
  .previous-shows-container {
    grid-template-columns: 1fr 1fr;
    .previous-show-container {
      margin: 3vh 0;
    }

    .previous-img {
      img {
        height: 160px;
      }
    }
  }
}
@media screen and(min-width: 550px) {
  .previous-shows-container {
    grid-template-columns: 1fr 1fr 1fr;
    .previous-show-container {
      margin: 5vh 0;
    }
    .previous-img {
      img {
        height: 180px;
      }
    }
  }
}
@media screen and(min-width: 750px) {
  .previous-shows-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .header-show {
      h4 {
        font-size: 16px;
      }
    }
    .previous-img {
      img {
        height: 190px;
      }
    }
  }
}
@media screen and(min-width: 1000px) {
  .previous-shows-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    .previous-img {
      img {
        height: 200px;
      }
    }
  }
}

@media screen and(min-width: 1000px) {
  .header-text-container {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    .header-show-container {
      transform: rotate(-5deg);
      transition: all 0.3s ease;
      &:hover {
        transform: rotate(0deg);
        transition: all 0.3s ease;
      }
    }
  }
  .previous-shows-container {
    margin: 0;
  }
}
