$header1: calc(4rem + 5vw);
$header1b: calc(3rem + 2.5vw);
$header1c: calc(1.8rem + 2vw);
$header2: calc(1.3rem + 0.8vw);
$header3: calc(1.4rem + 0.2vw);
$paragraph: calc(1.2rem + 0.2vw);
$link: calc(1.2em + 0.2vw);

$nav-font: 14px;
$footer-font: 1.2rem;
$primal-color: rgb(202, 52, 52);
$primal-color2: #941c2f;
$primal-color3: #3a0a11;
$link-color: #92deff;
$gallery-blue: #d3d3d3;
$grey: #3f3f3f;
$blue: #283350;
$light-blue: #3fc1c9;
$yellow: #fce38a;
$red: #fc5185;

@import "global";
@import "navbar";
@import "intro";
@import "eswareinmal";
@import "ensemble";
@import "gallerie";
// @import "kontakt";
@import "kontakt2";
@import "aktuelles";
