* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: white;
  overflow-x: hidden;
}

h2,
h3,
h4,
p,
a,
button {
  font-family: "Montserrat", sans-serif;
}

.nav-txt {
  color: white;
  width: 100vw;
  padding: 3.5vh 0 8vh 0;
  background: #0e0e0e;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center;
  height: 10vh;
  font-family: "Dancing Script", cursive;
  font-size: 32px;
  z-index: 2;
}

.noBackground {
  background: rgba(0, 0, 0, 0.274);
  font-size: 24px;
}

/* NAVBAR end */
/* To Top button Start*/
.to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  position: fixed;
  bottom: 5vh;
  right: 5.5vw;
  height: 35px;
  width: 35px;
  z-index: 10;
  opacity: 0;
  font-size: 18px;
  mix-blend-mode: difference;
}

.to-top i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #e0e0e0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.to-top .red-top {
  mix-blend-mode: normal;
  color: #d9d9d9;
  border: 2px solid #d4d4d4;
}

/* To Top button Ends*/
/* FOOTER starts */
footer {
  background: #0e0e0e;
  border-top: 1px solid rgba(109, 109, 109, 0.349);
  position: relative;
}

.footer-wrapper {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  padding: 1.5rem 0;
}

.footer-wrapper h3 {
  font-family: "Dancing Script", cursive;
  font-size: calc(1.6em + 0.2vw);
  margin: 0.5rem 1.5rem;
  letter-spacing: 3px;
}

.footer-wrapper a {
  font-size: calc(1em + 0.2vw);
  margin: 0.5rem 1.5rem;
  color: #c8c8c8;
  text-decoration: none;
}

/* FOOTER ends */
.stop-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .nav-txt {
    padding-top: 1vh;
    height: 7vh;
  }
  .nav-infront-txt {
    background: #0e0e0e;
    width: 100vw;
    height: 7vh;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .to-top:hover {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: black;
    background: #e0e0e0;
  }
  .red-top:hover {
    background: black;
    color: white;
  }
}

@media screen and (min-width: 600px) {
  .footer-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 7vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body {
  position: relative;
}

nav {
  width: 100vw;
  margin: auto;
  z-index: 2000;
}

.logo {
  display: inline;
  max-height: 7vh;
  background-color: rgba(255, 0, 0, 0);
}

.logo img {
  display: none;
  max-width: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}

.burger {
  position: fixed;
  top: 5vh;
  right: 9vw;
  z-index: 1999;
}

.burger i {
  font-size: 26px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3), -1px -1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.3), 1px -1px 1px rgba(0, 0, 0, 0.3);
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  height: 100vh;
  min-width: 80vw;
  top: 0;
  right: 0;
  z-index: 1001;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: #0e0e0e;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow-x: hidden;
}

.nav-links li {
  padding: 0;
  text-align: center;
  list-style: none;
}

.nav-links li a {
  font-size: calc(1em + 0.2vw);
  color: #c8c8c8;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.nav-links li a:hover {
  color: white;
  border-bottom: 1px solid white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 600px) {
  nav {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 7vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    left: 0;
    top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  nav .logo {
    display: none;
  }
  nav .burger {
    display: none;
  }
  nav .burger i {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    z-index: 11;
  }
  nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
  }
  nav .nav-links li {
    list-style: none;
    padding: 1.2rem 0rem;
  }
  nav .nav-links li a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
}

.nav-active {
  position: fixed;
  top: 0;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.nav-background-active {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.body-intro {
  background: #0e0e0e;
  position: relative;
  padding-top: 7vh;
}

.body-intro .header-background-container {
  min-width: 120vw;
  min-height: 33vw;
  background: #941c2f;
  position: absolute;
  top: -25vw;
  right: -33vw;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.header-text-container {
  min-height: 84vh;
  width: 100vw;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text {
  max-width: 80%;
  margin: 5vh auto;
}

.header-text h1 {
  font-family: "Dancing Script", cursive;
  font-size: calc(3rem + 2.5vw);
}

.header-text h1 span {
  color: #ca3434;
  text-transform: uppercase;
}

.header-text h2 {
  font-size: calc(1em + 0.5vw);
  font-weight: 400;
  color: #cecece;
  max-width: 400px;
  padding-bottom: 10px;
}

.header-show-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-show-container .header-show img {
  width: 100%;
  border-radius: 0.5ch;
  -webkit-box-shadow: 10px 10px 5px rgba(14, 14, 14, 0.509);
          box-shadow: 10px 10px 5px rgba(14, 14, 14, 0.509);
}

.header-show-container .header-show h4 {
  font-family: "dancing script", cursive;
  font-weight: 400;
  text-align: center;
  font-size: calc(1em + 1vw);
}

.previous-shows-container {
  width: 100vw;
  display: -ms-grid;
  display: grid;
  margin: 3vh 0 10vh;
}

.previous-show-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5vh 0;
}

.previous-show-container .header-show h4 {
  font-family: "Dancing script", cursive;
  font-size: calc(1.2rem + 0.2vw);
  letter-spacing: 3px;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  color: #c6c6c6;
}

.previous-show-container .previous-img img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.previous-show-container .previous-img img:hover {
  max-height: 400px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.coming-shows-container {
  border-top: 1px solid white;
  margin: 25vh 0;
}

.coming-shows-container h2 {
  position: absolute;
  font-family: "dancing script", cursive;
  font-size: calc(3rem + 2.5vw);
  -webkit-transform: translateY(-64%);
          transform: translateY(-64%);
  background: #0e0e0e;
  margin-left: 3%;
  padding: 0 5px;
}

.coming-shows-container h2 span {
  color: #ca3434;
  text-transform: capitalize;
}

.coming-shows-container .coming-show-container {
  margin: 15vh auto;
  width: 100vw;
}

.coming-shows-container .coming-show-container h3 {
  font-family: "dancing script", cursive;
  font-size: calc(1.8rem + 2vw);
  text-align: center;
  padding: 10px;
}

.coming-show {
  border: 1px solid rgba(255, 255, 255, 0);
  position: relative;
  max-width: 600px;
  margin: auto;
}

.coming-show #coming-alle-jahre-hero,
.coming-show #coming-imhotep-hero {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: -1;
  margin: auto;
}

.coming-show #coming-alle-jahre-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 14, 0.4))), url("../images/landingpage/alle-jahre-wieder.jpg") 0% 40%/cover no-repeat;
  background: linear-gradient(rgba(14, 14, 14, 0.4) rgba(14, 14, 14, 0.4)), url("../images/landingpage/alle-jahre-wieder.jpg") 0% 40%/cover no-repeat;
}

.coming-show #coming-imhotep-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 14, 0.4))), url("../images/landingpage/imhotep-coming.JPG") 0% 84%/cover no-repeat;
  background: linear-gradient(rgba(14, 14, 14, 0.4) rgba(14, 14, 14, 0.4)), url("../images/landingpage/imhotep-coming.JPG") 0% 84%/cover no-repeat;
}

.coming-show .coming-hero {
  width: 100%;
  height: 25vh;
}

.coming-show-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15vh;
}

.coming-show-info .coming-image {
  width: 80vw;
  max-width: 200px;
  margin: auto;
}

.coming-show-info .coming-image #alle-jahre-wider-img,
.coming-show-info .coming-image #imhotep-img {
  padding: 50% 0;
  -webkit-box-shadow: 5px -5px 5px rgba(14, 14, 14, 0.2), 0 0 10px rgba(14, 14, 14, 0.2), -5px -5px 5px rgba(14, 14, 14, 0.2);
          box-shadow: 5px -5px 5px rgba(14, 14, 14, 0.2), 0 0 10px rgba(14, 14, 14, 0.2), -5px -5px 5px rgba(14, 14, 14, 0.2);
}

.coming-show-info .coming-image #alle-jahre-wider-img {
  background: url("../images/landingpage/alle-jahre-wieder.jpg") center/cover no-repeat;
}

.coming-show-info .coming-image #imhotep-img {
  background: url("../images/landingpage/imhotep-coming.jpg") center/cover no-repeat;
}

.coming-show-info .coming-image .buy-ticket {
  display: none;
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: #ca3434;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
}

.coming-show-info .coming-info {
  width: 100%;
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.coming-show-info .coming-info a {
  padding-top: 5px;
  color: white;
  font-size: calc(1.2rem + 0.2vw);
}

.coming-show-info .coming-info .coming-dates {
  padding: 20px 0;
}

.coming-show-info .coming-info .coming-dates p {
  font-size: calc(1.2rem + 0.2vw);
}

.coming-show-info .coming-info .coming-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5px;
}

.coming-show-info .coming-info .coming-bottom h4 {
  font-size: calc(1.2rem + 0.2vw);
  font-weight: 400;
}

.coming-show-info .coming-info .coming-bottom .coming-time {
  font-weight: 600;
}

.coming-show-info .coming-info .ticket-mobile {
  width: 100%;
  padding: 10px 10px;
  border: 3px solid #ff4343;
  border-radius: 1ch;
  background: none;
  color: #ff4343;
  font-weight: bold;
  font-size: calc(1.2rem + 0.2vw);
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.coming-show-info .coming-info .ticket-mobile:hover {
  background: #941c2f;
  border-color: transparent;
  color: #cdcdcd;
  letter-spacing: 1.8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-links {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 7px solid black;
}

.footer-links-header h3 {
  text-align: center;
  font-size: calc(2.5rem + 2vw);
  margin-bottom: 5vh;
}

.footer-links-header h3 span {
  color: #ca3434;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-link .kontakt-bottom-btn {
  border: none;
  margin: 2vh 0;
}

.footer-link .kontakt-bottom-btn a {
  padding: 5px 25px;
  display: block;
  text-decoration: none;
  font-size: calc(1.5rem + 0.1vw);
  color: white;
  width: 100%;
  text-align: center;
  border: 2px solid rgba(14, 14, 14, 0);
  border-radius: 0.5ch;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-link .kontakt-bottom-btn a:hover {
  border: 2px solid white;
  border-radius: 2ch;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 450px) {
  .header-text-container {
    width: 100vw;
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-show-container .header-show {
    max-width: calc(500px + 1.5vw);
  }
  .header-show-container .header-show h4 {
    font-weight: 400;
    text-align: center;
  }
}

@media screen and (min-width: 445px) {
  .previous-shows-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .previous-shows-container .previous-show-container {
    margin: 3vh 0;
  }
  .previous-shows-container .previous-img img {
    height: 160px;
  }
}

@media screen and (min-width: 650px) {
  .previous-shows-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .previous-shows-container .previous-show-container {
    margin: 5vh 0;
  }
  .previous-shows-container .previous-img img {
    height: 180px;
  }
}

@media screen and (min-width: 900px) {
  .previous-shows-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .previous-shows-container .previous-img img {
    height: 190px;
  }
}

@media screen and (min-width: 1300px) {
  .previous-shows-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .previous-shows-container .previous-img img {
    height: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .header-text-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
  .header-text-container .header-text {
    margin: 0;
  }
  .previous-shows-container {
    margin: auto;
    max-width: 1500px;
  }
}

@media screen and (min-width: 1500px) {
  .coming-shows-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .coming-shows-container .coming-show-container {
    width: 50vw;
  }
}

.ewe-main {
  position: relative;
  background: #0e0e0e;
  padding-top: 10vh;
}

.ewe-wrapper {
  -webkit-box-shadow: 10px 10px 10px black, 10px 10px 20px black, 15px -5px 20px black;
          box-shadow: 10px 10px 10px black, 10px 10px 20px black, 15px -5px 20px black;
  background-image: linear-gradient(180.3deg, #141519 4.3%, #151516 96.7%);
  max-width: 900px;
  margin: auto;
  padding: 3em 5%;
  border-radius: 1ch;
}

.ewe-wrapper h1 {
  padding: 2rem 0;
  max-width: 1000px;
  text-align: center;
  font-size: calc(3rem + 2.5vw);
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
  color: #ca3434;
}

.ewe-wrapper h2 {
  color: #ebebeb;
  margin: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: calc(1.3rem + 0.8vw);
}

.ewe-wrapper p {
  font-size: calc(1.2rem + 0.2vw);
  line-height: 20px;
  color: #e1e1e1;
  font-family: "Montserrat", sans-serif;
}

.ewe-wrapper p strong {
  display: block;
  text-align: center;
  color: white;
  background: #43525e;
  padding: 6px 0;
  margin: 20px 0 15px 0;
  border-radius: 1ch;
  font-family: "Dancing Script", cursive;
  font-size: calc(1.4rem + 0.2vw);
}

.ewe-wrapper img {
  margin: 2rem auto 2rem 0;
  width: 100vw;
  max-width: 1200px;
  pointer-events: none;
  opacity: 0.8;
}

.show-wrapper {
  background: #0e0e0e;
  padding: 70px 0 0;
}

.show-wrapper .shows {
  border-radius: 2ch;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.show-wrapper .shows .show {
  margin: 50px 0;
}

.show-wrapper .shows .show h3 {
  background: #43525e;
  text-align: center;
  width: 100vw;
  margin: 70px 0 20px 0;
  font-size: calc(1.4rem + 0.2vw);
  font-family: "Dancing Script", cursive;
  padding: 10px 0;
  min-height: 45px;
}

.show-wrapper .shows .show h4 {
  font-size: calc(1.2rem + 0.2vw);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 15px 0 5px 0;
  text-align: center;
}

.show-wrapper .shows .show .show-info {
  position: relative;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  overflow: hidden;
  margin: 5px 3% 10px 3%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  max-width: 800px;
  margin: auto;
}

.show-wrapper .shows .show .show-info .show-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0 10px 3%;
  border: 1px solid #1c212a;
  border-bottom: none;
  border-top-right-radius: 2ch;
  border-top-left-radius: 2ch;
}

.show-wrapper .shows .show .show-info .show-name p {
  color: #e1e1e1;
  font-size: calc(1.2rem + 0.2vw);
  font-weight: 600;
  padding: 5px;
}

.show-wrapper .shows .show .show-info .show-name .arrow-left {
  display: none;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-right: 17px solid #283350;
}

.show-wrapper .shows .show .show-info .turn-arrow {
  background-image: linear-gradient(158deg, #273139 4.3%, #12141d 96.7%);
  padding: 6px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 27px;
}

.show-wrapper .shows .show .show-info .turn-arrow .show-type {
  font-size: calc(1rem + 0.2vw);
  font-weight: 600;
  letter-spacing: 2px;
  color: gainsboro;
}

.show-wrapper .shows h2 {
  color: #ca3434;
  text-align: center;
  padding: 2rem 0;
  font-size: calc(3rem + 2.5vw);
  font-family: "Dancing Script", cursive;
}

.show-wrapper .shows p {
  color: black;
  font-size: calc(1.2rem + 0.2vw);
  font-family: "Montserrat", sans-serif;
}

.show-wrapper .shows p strong {
  display: block;
  text-align: center;
  color: white;
  background: #283350;
  padding: 4px 0;
  border-radius: 1ch;
}

.show-wrapper .shows p .show-header-p {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.show-wrapper .shows p .show-type {
  display: inline-block;
  width: 100%;
  border: 1px solid #fbb500;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .ewe-main {
    padding-top: 0;
    margin-top: -1px;
  }
  .ewe-wrapper {
    padding: 6em 3% 3em 3%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.ensemble-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0e0e0e;
  margin-top: -1px;
}

.ensemble-header-text {
  width: 100vw;
  height: 60vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(rgba(14, 14, 14, 0.1) 30%, #0e0e0e), url("../images/test3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ensemble-header-text h1 {
  font-size: 72px;
  letter-spacing: 2px;
  font-family: "Dancing Script", cursive;
  color: #ca3434;
}

.ensemble-header-text h2 {
  font-weight: 400;
}

.new-section {
  min-height: 70vh;
  width: 100vw;
  overflow: hidden;
  background: #0e0e0e;
  position: relative;
}

.background-notes {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 14, 0.9)), to(#0e0e0e)), url("../images/octave-background.svg");
  background: linear-gradient(rgba(14, 14, 14, 0.9), #0e0e0e), url("../images/octave-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  max-width: 400px;
  height: 400px;
  position: absolute;
  top: 20vh;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cards-header {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15vh 4% 10vh;
  max-width: 1000px;
  margin: auto;
  position: relative;
  text-align: center;
}

.cards-header h2 {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 10px;
}

.cards-header p {
  font-size: 16px;
  color: #c6c6c6;
}

.cards-header img {
  width: calc(400px + 50vw);
  position: absolute;
  bottom: 0vh;
  left: 20vw;
  opacity: 0.1;
  -webkit-transform: rotate(210deg) rotateX(0deg);
          transform: rotate(210deg) rotateX(0deg);
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  max-width: 1150px;
}

.new-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 350px;
  border-radius: 2ch;
  padding: 6rem 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#0c0c0c), to(#0e0e0e));
  background: linear-gradient(to right, #0c0c0c, #0e0e0e);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.new-card .text-titel {
  font-family: "dancing script", cursive;
  font-weight: 100;
  font-size: 40px;
  color: #941c2f;
  padding-bottom: 15px;
  text-align: center;
}

.new-profile {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.new-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.new-profile img:hover {
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.new-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.new-text .new-text-header {
  text-align: center;
  padding: 5px 0;
}

.new-text .new-text-header .text-name {
  font-size: 24px;
  font-weight: 600;
}

.new-text .new-text-header .text-alias {
  padding-bottom: 10px;
  font-weight: 400;
  color: #d5d5d5;
  font-size: 14px;
}

.new-text .new-text-content {
  padding: 8px 0;
  border-top: 1px solid #2b2b2b;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.new-text .new-text-content h4 {
  font-size: 16px;
  font-weight: 400;
  color: #e8e8e8;
}

.new-text .new-text-content .extra-text {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.new-text .new-text-content .more-text {
  font-size: 0px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.new-text .new-text-content .about {
  display: block;
  font-size: 14px;
  padding: 2px 0;
}

.new-text p {
  padding: 5px 0;
}

.new-text .new-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  font-weight: 600;
  background: none;
  color: #ca3434;
  border: 2px solid #941c2f;
  border-radius: 5px;
  margin: 5px auto 0;
  width: 100%;
  padding: 2px 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.new-text .new-button:hover {
  color: #de3939;
  border-color: #ac2136;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.new-card-active {
  max-height: 1000px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.new-text-content-active {
  padding-top: 2px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.more-text-active {
  color: white;
  font-size: 16px !important;
  opacity: 1 !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.extra-text-active {
  font-size: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 400px) {
  .stripe-red {
    background: #941c2f;
    width: 100vw;
    height: 30vh;
    position: absolute;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    pointer-events: none;
  }
  #red-two {
    bottom: -200px;
    right: -50vw;
  }
}

@media screen and (min-width: 450px) {
  .ensemble-header-text h1 {
    font-size: calc(8rem + 2vw) !important;
  }
  .cards-wrapper h2 {
    font-size: calc(1rem + 0.5vw) !important;
  }
}

@media screen and (min-width: 1400px) {
  .ensemble-header-text h1 {
    font-size: 128px !important;
  }
  .cards-wrapper h2 {
    font-size: 20px !important;
  }
}

html {
  scroll-behavior: smooth;
}

.gallery-nav {
  background: none;
  z-index: 100;
}

.hero-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 85vh;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(16, 14, 117, 0.2), rgba(0, 0, 0, 0.8)), url("../images/gallerypage/_MG_9384ejpgk.jpg") center/cover no-repeat;
}

.hero-gallery h2 {
  font-size: calc(5rem + 3vw);
  font-family: "Dancing Script", cursive;
  text-align: center;
  min-height: 40vh;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ca3434;
}

.hero-gallery h2 #foto-gallery {
  font-size: calc(2rem + 3vw);
  color: white;
}

.scroll-overflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  background: #0e0e0e;
  padding-top: 25px;
  z-index: 2;
}

.dropdown {
  min-height: 10vh;
  width: 90vw;
  max-width: 1100px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-grid-columns: (1fr)[auto-fit];
      grid-template-columns: repeat(auto-fit, 1fr);
  padding: 2vh 0 10vh;
}

.dropdown-wrapper {
  margin: 10px 0;
  padding: 5px;
  border: 2px solid transparent;
  border-left: 2px solid #bebebe;
  border-right: 2px solid #bebebe;
  min-width: 150px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-wrapper:hover {
  border-color: #d9e1ff;
}

.dropdown-wrapper .header-hover {
  font-family: "montserrat", sans-serif;
  font-size: calc(1.2rem + 0.1vw);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 10px 50px;
  letter-spacing: 3px;
  position: relative;
}

.dropdown-wrapper .header-hover:hover {
  cursor: pointer;
  color: #d9e1ff;
}

.dropdown-wrapper .dropdown-content {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  width: 0;
  position: absolute;
  left: 50%;
  top: 29px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  border-radius: 5px;
  background: #0e0e0e;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-wrapper .dropdown-content a {
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.125);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.125);
  letter-spacing: 1px;
  font-size: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.dropdown-wrapper .dropdown-content a:hover {
  color: #d9e1ff;
}

.lazyload-wrapper {
  display: -ms-grid;
  display: grid;
  background-color: #0e0e0e;
  z-index: 10001;
}

.lazyload-wrapper .lazy-images-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0e0e0e;
  width: 100vw;
  max-width: 1400px;
  margin: auto;
}

.lazyload-wrapper .lazy-images-wrapper .lazy-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25vh;
}

.lazyload-wrapper .lazy-images-wrapper .year-shows {
  font-family: "montserrat", sans-serif;
  padding: 20px 0;
  color: #040b12;
  background: white;
  font-size: calc(1.4rem + 0.2vw);
  letter-spacing: 10px;
  font-weight: normal;
  text-align: center;
}

.lazyload-wrapper .lazy-images-wrapper p {
  font-family: "montserrat", sans-serif;
  display: inline;
  background: #040b12;
  color: white;
  font-size: calc(1.2rem + 0.2vw);
  letter-spacing: 5px;
  text-align: center;
  padding: 30px 0;
}

.lazyload-wrapper .lazy-images-wrapper .lazy-images {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  justify-items: center;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  min-height: 10vh;
  margin-bottom: 5vh;
}

.lazyload-wrapper .lazy-images-wrapper .lazy-images img {
  background: #0000002b;
  min-width: 200px;
  min-height: 130px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.images-dynamically {
  width: 100vw;
  min-height: 20vh;
  border: 2px solid red;
  color: black;
}

.dynamic-images-active {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.header-hover-active {
  border-radius: 20px 20px 0px 0px !important;
  border-color: #d9e1ff !important;
  color: #d9e1ff;
}

.dropdown-content-active {
  opacity: 1 !important;
  margin: 0 0 0 -2px !important;
  border: 2px solid #d9e1ff !important;
}

.dropdown-wrapper-active {
  border: 2px solid #d9e1ff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.a-links-active {
  font-size: calc(1.2rem + 0.1vw) !important;
  padding: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #f4f6ff !important;
}

.a-links-active:hover {
  background: #0d253d;
}

.lazy-nav-active {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arrow-right-active {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.lazy-image-active {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 60vh !important;
  width: 90% !important;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: contain !important;
     object-fit: contain !important;
  z-index: 2001;
  background: transparent !important;
}

.lazyload-wrapper-active {
  z-index: 2000;
  display: block;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
}

.close-image {
  font-size: 16px;
  font-weight: 900;
  padding: 7px;
  position: absolute;
  border-radius: 2ch;
  border: none;
  background-color: transparent;
  color: white;
  top: 5vh;
  right: 5vw;
}

.close-image:hover {
  cursor: pointer;
}

@media screen and (min-width: 340px) {
  .lazy-images {
    padding: 0 30px;
  }
}

@media screen and (min-width: 600px) {
  .scroll-overflow .dropdown .dropdown-wrapper #header-hover-wide {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content h2 {
    margin-top: 10vh !important;
    font-size: 110px !important;
  }
}

.contact-container {
  margin-top: -1px;
  height: 93vh;
}

.top-img-wrapper {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../images/gallery/2017/1NYN/_MG_8852ejpgk.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../images/gallery/2017/1NYN/_MG_8852ejpgk.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-img-wrapper h1 {
  font-family: "Dancing Script", cursive;
  font-size: calc(4rem + 5vw);
  color: white;
}

.contact-information-two {
  background: rgba(0, 0, 0, 0.7);
  padding: 0px 70px;
  border-radius: 10px;
  margin: 7vh 0 9vh;
}

.contact-information-two .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5vh auto;
}

.contact-information-two .text .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(1.8rem + 0.1vw);
  width: 50px;
}

.contact-information-two .text .text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "montserrat", sans-serif;
}

.contact-information-two .text .text-info .txt1 {
  font-size: calc(1.4rem + 0.2vw);
  padding-bottom: 3px;
}

.contact-information-two .text .text-info .txt2 {
  font-size: calc(1.2rem + 0.2vw);
  color: #cdcdcd;
  letter-spacing: 0.5px;
}

.contact-information-two .text .text-info .txt-color,
.contact-information-two .text .text-info a {
  color: #ca3434;
  text-decoration: none;
}

.contact-wrapper-active {
  overflow: unset;
}

.contact-information-active {
  height: 20vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

.contact-pointer-active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #212121;
}

.button-active {
  color: #212121;
}

@media screen and (min-width: 600px) {
  .contact-wrapper .contact-info-wrapper {
    width: 500px;
  }
  .contact-wrapper .contact-info-wrapper h2 {
    font-size: 2.4rem;
  }
  .contact-wrapper .contact-info-wrapper button {
    font-size: 32px;
    margin: 5px 0;
  }
  .contact-wrapper .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-information {
    text-align: start;
  }
  .contact-information p {
    padding: 10px 0 10px 5%;
    font-size: 16px;
  }
  .contact-information a {
    font-size: 16px;
  }
}

.main-aktuelles {
  margin-top: -1px;
  min-height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0e0e0e;
}

.aktuelles-header {
  font-size: calc(3rem + 2.5vw);
  padding: 0 3%;
  text-align: center;
  font-family: "dancing script", cursive;
}
/*# sourceMappingURL=style.css.map */